In [448]:
%matplotlib inline
import re
import pandas as pd
import matplotlib as plt
import numpy as np

In [449]:
master = pd.read_csv("data/Master.csv", sep=",")

In [450]:
# master = master[["playerID", "nameFirst", "nameLast", "finalGame"]]
# master.index = master.pop("playerID")
# master = master[["nameFirst", "nameLast", "finalGame"]]

In [451]:
master.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [452]:
batting = pd.read_csv("data/Batting.csv", sep=",")

In [453]:
# batting = batting[["playerID", "H", "BB", "HBP", "AB", "SF"]]
# batting.index = batting.pop('playerID')

In [454]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [455]:
salaries = pd.read_csv("data/Salaries.csv", sep=",")

In [456]:
# salaries = salaries[["salary", "playerID"]]
# salaries.index = salaries.pop("playerID")

In [457]:
salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [458]:
master_list = pd.merge(batting, master)
master_list = pd.merge(master_list, salaries)
master_list

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,salary
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,Thomas Edward,180.0,75.0,R,L,1963-09-06,1989-05-25,johnt001,johnto01,600000
1,johnto01,1986,1,NYA,AL,13,NaN,NaN,NaN,NaN,...,Thomas Edward,180.0,75.0,R,L,1963-09-06,1989-05-25,johnt001,johnto01,60000
2,johnto01,1987,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Thomas Edward,180.0,75.0,R,L,1963-09-06,1989-05-25,johnt001,johnto01,350000
3,johnto01,1988,1,NYA,AL,35,NaN,NaN,NaN,NaN,...,Thomas Edward,180.0,75.0,R,L,1963-09-06,1989-05-25,johnt001,johnto01,375000
4,rosepe01,1985,1,CIN,NL,119,405.0,60.0,107.0,12.0,...,Peter Edward,192.0,71.0,B,R,1963-04-08,1986-08-17,rosep001,rosepe01,358858
5,rosepe01,1986,1,CIN,NL,72,237.0,15.0,52.0,8.0,...,Peter Edward,192.0,71.0,B,R,1963-04-08,1986-08-17,rosep001,rosepe01,1000000
6,staubru01,1985,1,NYN,NL,54,45.0,2.0,12.0,3.0,...,Daniel Joseph,190.0,74.0,L,R,1963-04-09,1985-10-06,staur001,staubru01,300000
7,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Philip Henry,180.0,73.0,R,R,1964-04-15,1987-09-27,niekp001,niekrph01,600000
8,niekrph01,1986,1,CLE,AL,34,NaN,NaN,NaN,NaN,...,Philip Henry,180.0,73.0,R,R,1964-04-15,1987-09-27,niekp001,niekrph01,300000
9,perezto01,1985,1,CIN,NL,72,183.0,25.0,60.0,8.0,...,Atanasio,175.0,74.0,R,R,1964-07-26,1986-10-05,peret001,perezto01,225000
10,perezto01,1986,1,CIN,NL,77,200.0,14.0,51.0,12.0,...,Atanasio,175.0,74.0,R,R,1964-07-26,1986-10-05,peret001,perezto01,275000
11,carltst01,1985,1,PHI,NL,16,28.0,2.0,5.0,1.0,...,Steven Norman,210.0,76.0,L,L,1965-04-12,1988-04-23,carls001,carltst01,1075000
12,carltst01,1986,1,PHI,NL,16,34.0,3.0,7.0,1.0,...,Steven Norman,210.0,76.0,L,L,1965-04-12,1988-04-23,carls001,carltst01,1000000
13,carltst01,1986,3,CHA,AL,10,NaN,NaN,NaN,NaN,...,Steven Norman,210.0,76.0,L,L,1965-04-12,1988-04-23,carls001,carltst01,60000
14,carltst01,1988,1,MIN,AL,4,NaN,NaN,NaN,NaN,...,Steven Norman,210.0,76.0,L,L,1965-04-12,1988-04-23,carls001,carltst01,115000
15,johnsja01,1985,1,LAN,NL,17,15.0,0.0,2.0,1.0,...,John William,175.0,73.0,L,R,1966-07-30,1985-10-06,johnj002,johnsja01,150000
16,ryanno01,1985,1,HOU,NL,35,63.0,2.0,7.0,2.0,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,1350000
17,ryanno01,1986,1,HOU,NL,30,59.0,1.0,6.0,0.0,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,1125000
18,ryanno01,1987,1,HOU,NL,34,65.0,2.0,4.0,0.0,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,1225000
19,ryanno01,1988,1,HOU,NL,33,70.0,1.0,4.0,0.0,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,1000000
20,ryanno01,1989,1,TEX,AL,32,NaN,NaN,NaN,NaN,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,1800000
21,ryanno01,1990,1,TEX,AL,30,NaN,NaN,NaN,NaN,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,1400000
22,ryanno01,1991,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,3300000
23,ryanno01,1992,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,4200000
24,ryanno01,1993,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,Lynn Nolan,170.0,74.0,R,R,1966-09-11,1993-09-22,ryann001,ryanno01,3757000
25,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,Donald Howard,185.0,73.0,R,R,1966-04-14,1988-08-09,suttd001,suttodo01,750000
26,suttodo01,1986,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,Donald Howard,185.0,73.0,R,R,1966-04-14,1988-08-09,suttd001,suttodo01,890000
27,suttodo01,1987,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,Donald Howard,185.0,73.0,R,R,1966-04-14,1988-08-09,suttd001,suttodo01,890000
28,suttodo01,1988,1,LAN,NL,16,23.0,1.0,2.0,0.0,...,Donald Howard,185.0,73.0,R,R,1966-04-14,1988-08-09,suttd001,suttodo01,350000
29,carewro01,1985,1,CAL,AL,127,443.0,69.0,124.0,17.0,...,Rodney Cline,170.0,72.0,L,R,1967-04-11,1985-10-05,carer001,carewro01,875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24596,roberda09,2015,1,LAA,AL,37,75.0,10.0,21.0,2.0,...,Daniel Roger,205.0,68.0,R,R,2014-04-29,2015-09-30,robed003,roberda09,511250
24597,rogerja02,2015,1,MIL,NL,86,152.0,22.0,45.0,6.0,...,Jason Douglas,255.0,73.0,R,R,2014-09-02,2015-10-03,rogej002,rogerja02,507500
24598,ruary01,2015,1,TEX,AL,28,83.0,10.0,16.0,5.0,...,Ryan,205.0,74.0,R,R,2014-08-29,2015-09-20,rua-r001,ruary01,508500
24599,sanchaa01,2015,1,TOR,AL,41,0.0,0.0,0.0,0.0,...,Aaron Jacob,200.0,76.0,R,R,2014-07-23,2015-10-04,sanca006,sanchaa01,1021600
24600,sanchca01,2015,1,CHA,AL,120,389.0,40.0,87.0,23.0,...,Yolmer Carlos,195.0,71.0,B,R,2014-07-13,2015-10-04,sancc001,sanchca01,510000
24601,santada01,2015,1,MIN,AL,91,261.0,30.0,56.0,10.0,...,Daniel Ernesto,185.0,71.0,B,R,2014-05-05,2015-10-04,santd001,santada01,530000
24602,shrevch01,2015,1,NYA,AL,59,0.0,0.0,0.0,0.0,...,Chasen Dean,185.0,75.0,L,L,2014-07-19,2015-10-03,shrec001,shrevch01,510275
24603,singljo02,2014,1,HOU,AL,95,310.0,42.0,52.0,13.0,...,Jonathan Lee,225.0,74.0,L,L,2014-06-03,2015-10-02,singj001,singljo02,1500000
24604,singljo02,2015,1,HOU,AL,19,47.0,6.0,9.0,2.0,...,Jonathan Lee,225.0,74.0,L,L,2014-06-03,2015-10-02,singj001,singljo02,2000000
24605,smolija01,2015,1,TEX,AL,35,60.0,12.0,8.0,1.0,...,Jacob Michael,205.0,71.0,R,R,2014-07-07,2015-10-04,smolj002,smolija01,508500
24606,solarya01,2015,1,SDN,NL,152,526.0,63.0,142.0,33.0,...,Yangervis Alfredo,195.0,71.0,B,R,2014-04-02,2015-10-04,solay001,solarya01,516400
24607,solerjo01,2015,1,CHN,NL,101,366.0,39.0,96.0,18.0,...,Jorge Carlos,215.0,76.0,R,R,2014-08-27,2015-10-03,solej001,solerjo01,2666667
24608,souzast01,2015,1,TBA,AL,110,373.0,59.0,84.0,15.0,...,Steven Jeffrey,225.0,76.0,R,R,2014-04-13,2015-10-04,souzs001,souzast01,508700
24609,spangco01,2015,1,SDN,NL,108,303.0,38.0,82.0,17.0,...,Cory Joseph,195.0,72.0,L,R,2014-09-01,2015-10-03,spanc001,spangco01,508500
24610,springe01,2015,1,HOU,AL,102,388.0,59.0,107.0,19.0,...,George Chelston,215.0,75.0,R,R,2014-04-16,2015-10-04,sprig001,springe01,512900
24611,stitema01,2015,1,ARI,NL,11,0.0,0.0,0.0,0.0,...,Matthew Steven,195.0,71.0,L,R,2014-06-19,2015-10-02,stitm001,stitema01,510500
24612,stromma01,2015,1,TOR,AL,4,0.0,0.0,0.0,0.0,...,Marcus Earl,180.0,68.0,R,R,2014-05-04,2015-09-30,strom001,stromma01,514700
24613,szczuma01,2015,1,CHN,NL,47,72.0,5.0,16.0,5.0,...,Matthew,200.0,72.0,R,R,2014-08-17,2015-10-03,szczm001,szczuma01,508500
24614,tanakma01,2014,1,NYA,AL,20,9.0,0.0,1.0,0.0,...,Masahiro,210.0,74.0,R,R,2014-04-04,2015-09-30,tanam001,tanakma01,22000000
24615,tanakma01,2015,1,NYA,AL,24,7.0,0.0,0.0,0.0,...,Masahiro,210.0,74.0,R,R,2014-04-04,2015-09-30,tanam001,tanakma01,22000000
24616,tayloch03,2015,1,SEA,AL,37,94.0,9.0,16.0,3.0,...,Christopher Armand,195.0,73.0,R,R,2014-07-24,2015-07-30,taylc001,tayloch03,512400
24617,taylomi02,2015,1,WAS,NL,138,472.0,49.0,108.0,15.0,...,Michael Anthony,210.0,75.0,R,R,2014-08-12,2015-10-04,taylm002,taylomi02,508700
24618,treinbl01,2015,1,WAS,NL,60,2.0,0.0,0.0,0.0,...,Blake M.,230.0,77.0,R,R,2014-04-12,2015-10-04,treib001,treinbl01,512800
24619,vargake01,2015,1,MIN,AL,58,175.0,18.0,42.0,4.0,...,Kennys,290.0,77.0,B,R,2014-08-01,2015-10-04,vargk001,vargake01,517500
24620,wadats01,2015,1,CHN,NL,8,8.0,1.0,0.0,0.0,...,Tsuyoshi,180.0,71.0,L,L,2014-07-08,2015-09-04,wadat001,wadats01,4000000
24621,yateski01,2015,1,TBA,AL,20,0.0,0.0,0.0,0.0,...,Kirby Kali,210.0,70.0,L,R,2014-06-07,2015-10-02,yatek001,yateski01,512800
24622,andrima01,2015,1,TBA,AL,25,1.0,0.0,0.0,0.0,...,Matthew Lee,215.0,75.0,R,R,2015-04-10,2015-10-04,andrm001,andrima01,507500
24623,iglesra01,2015,1,CIN,NL,18,30.0,0.0,2.0,0.0,...,Raisel,185.0,74.0,R,R,2015-04-12,2015-09-13,igler001,iglesra01,1714286
24624,kangju01,2015,1,PIT,NL,126,421.0,60.0,121.0,24.0,...,Jung Ho,205.0,72.0,R,R,2015-04-08,2015-09-17,kangj001,kangju01,2500000
24625,tomasya01,2015,1,ARI,NL,118,406.0,40.0,111.0,19.0,...,Yasmany,255.0,74.0,R,R,2015-04-15,2015-10-02,tomay001,tomasya01,5500000

In [459]:
master_list.sort_values(by=['playerID', 'salary'])

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,salary
19397,aardsda01,2004,1,SFN,NL,11,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,300000
19398,aardsda01,2007,1,CHA,AL,25,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,387500
19399,aardsda01,2008,1,BOS,AL,47,1.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,403250
19400,aardsda01,2009,1,SEA,AL,73,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,419000
19402,aardsda01,2012,1,NYA,AL,1,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,500000
19401,aardsda01,2010,1,SEA,AL,53,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2750000
761,aasedo01,1989,1,NYN,NL,49,5.0,0.0,0.0,0.0,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,400000
758,aasedo01,1986,1,BAL,AL,66,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,600000
759,aasedo01,1987,1,BAL,AL,7,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,625000
760,aasedo01,1988,1,BAL,AL,35,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,675000
17356,abadan01,2006,1,CIN,NL,5,3.0,0.0,0.0,0.0,...,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01,327000
23162,abadfe01,2011,1,HOU,NL,29,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,418000
23163,abadfe01,2012,1,HOU,NL,37,7.0,0.0,1.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,485000
23164,abadfe01,2014,1,OAK,AL,69,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,525900
23165,abadfe01,2015,1,OAK,AL,62,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,1087500
14083,abbotje01,1998,1,CHA,AL,89,244.0,33.0,68.0,14.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,175000
14084,abbotje01,1999,1,CHA,AL,17,57.0,5.0,9.0,0.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,255000
14085,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,255000
14086,abbotje01,2001,1,FLO,NL,28,42.0,5.0,11.0,3.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,300000
6864,abbotji01,1989,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,68000
6865,abbotji01,1990,1,CAL,AL,33,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,185000
6866,abbotji01,1991,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,357500
6872,abbotji01,1999,1,MIL,NL,20,21.0,0.0,2.0,0.0,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,400000
6867,abbotji01,1992,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,1850000
6871,abbotji01,1996,1,CAL,AL,27,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2200000
6868,abbotji01,1993,1,NYA,AL,32,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2350000
6869,abbotji01,1994,1,NYA,AL,24,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2775000
6870,abbotji01,1995,1,CHA,AL,17,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2775000
10401,abbotku01,1993,1,OAK,AL,20,61.0,11.0,15.0,1.0,...,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01,109000
10402,abbotku01,1994,1,FLO,NL,101,345.0,41.0,86.0,17.0,...,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01,109000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17347,zitoba01,2006,1,OAK,AL,34,3.0,0.0,0.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,7900000
17348,zitoba01,2007,1,SFN,NL,34,62.0,2.0,7.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,10000000
17349,zitoba01,2008,1,SFN,NL,32,51.0,1.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,14500000
17350,zitoba01,2009,1,SFN,NL,34,51.0,2.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17351,zitoba01,2010,1,SFN,NL,34,51.0,1.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17352,zitoba01,2011,1,SFN,NL,13,13.0,0.0,0.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17353,zitoba01,2012,1,SFN,NL,32,53.0,3.0,4.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,19000000
17354,zitoba01,2013,1,SFN,NL,30,34.0,3.0,5.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,20000000
21539,zobribe01,2007,1,TBA,AL,31,97.0,8.0,15.0,2.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,383400
21540,zobribe01,2008,1,TBA,AL,62,198.0,32.0,50.0,10.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,395800
21541,zobribe01,2009,1,TBA,AL,152,501.0,91.0,149.0,28.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,415900
21542,zobribe01,2010,1,TBA,AL,151,541.0,77.0,129.0,28.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,438100
21543,zobribe01,2011,1,TBA,AL,156,588.0,99.0,158.0,46.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,4687300
21544,zobribe01,2012,1,TBA,AL,157,560.0,88.0,151.0,39.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,4687300
21545,zobribe01,2013,1,TBA,AL,157,612.0,77.0,168.0,36.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,5687300
21546,zobribe01,2014,1,TBA,AL,146,570.0,83.0,155.0,34.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,7000000
21547,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,7500000
9518,zoskyed01,1992,1,TOR,AL,8,7.0,1.0,2.0,0.0,...,Edward James,175.0,72.0,R,R,1991-09-02,2000-10-01,zoske001,zoskyed01,109000
14082,zuberjo01,1996,1,PHI,NL,30,91.0,7.0,23.0,4.0,...,Jon Edward,190.0,73.0,L,L,1996-04-19,1998-09-27,zubej001,zuberjo01,109000
17355,zuletju01,2001,1,CHN,NL,49,106.0,11.0,23.0,3.0,...,Julio Ernesto,230.0,78.0,R,R,2000-04-06,2001-06-25,zulej001,zuletju01,200000
21548,zumayjo01,2006,1,DET,AL,62,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,327000
21549,zumayjo01,2007,1,DET,AL,28,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,410000
21550,zumayjo01,2008,1,DET,AL,21,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,420000
21551,zumayjo01,2009,1,DET,AL,29,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,735000
21552,zumayjo01,2010,1,DET,AL,31,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,915000
24528,zuninmi01,2014,1,SEA,AL,131,438.0,51.0,87.0,20.0,...,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2015-08-27,zunim001,zuninmi01,504100
24529,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2015-08-27,zunim001,zuninmi01,523500
9519,zupcibo01,1991,1,BOS,AL,18,25.0,3.0,4.0,0.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,100000
9520,zupcibo01,1992,1,BOS,AL,124,392.0,46.0,108.0,19.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,109000
9521,zupcibo01,1993,1,BOS,AL,141,286.0,40.0,69.0,24.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,222000

In [471]:
master_list = master_list.groupby('playerID', group_keys=False).apply(lambda x: x.ix[x.salary.idxmax()])

KeyError: 'playerID'

In [472]:
master_list = master_list[["nameFirst", "nameLast", "finalGame", "H", "BB", "HBP", "AB", "SF", "salary"]]

In [473]:
master_list.head()

          nameFirst nameLast   finalGame     H   BB  HBP    AB   SF   salary
playerID
aardsda01     David  Aardsma  2015-08-23   0.0  0.0  0.0   0.0  0.0  2750000
aasedo01        Don     Aase  1990-10-03   NaN  NaN  NaN   NaN  NaN   675000
abadan01       Andy     Abad  2006-04-13   0.0  2.0  0.0   3.0  0.0   327000
abadfe01   Fernando     Abad  2015-10-03   0.0  0.0  0.0   0.0  0.0  1087500
abbotje01      Jeff   Abbott  2001-09-29  11.0  3.0  1.0  42.0  0.0   300000

In [474]:
date_time_finalGame = pd.to_datetime(master_list['finalGame'], format='%Y-%m-%d')

In [475]:
only_2015 = master_list[(pd.to_datetime(master_list['finalGame'], format='%Y-%m-%d').dt.year == 2015) | master_list['finalGame'].isnull()]

In [477]:
only_2015

,nameFirst,nameLast,finalGame,H,BB,HBP,AB,SF,salary
playerID,,,,,,,,,
aardsda01,David,Aardsma,2015-08-23,0.0,0.0,0.0,0.0,0.0,2750000
abadfe01,Fernando,Abad,2015-10-03,0.0,0.0,0.0,0.0,0.0,1087500
abreujo02,Jose,Abreu,2015-10-03,178.0,39.0,15.0,613.0,1.0,8666000
ackledu01,Dustin,Ackley,2015-10-04,97.0,37.0,1.0,384.0,1.0,2700000
adamsau01,Austin,Adams,2015-09-30,0.0,0.0,0.0,1.0,0.0,507700
adamsma01,Matt,Adams,2015-10-04,42.0,10.0,0.0,175.0,1.0,534000
adcocna01,Nathan,Adcock,2015-07-26,0.0,0.0,0.0,0.0,0.0,414000
adriaeh01,Ehire,Adrianza,2015-09-22,23.0,5.0,1.0,97.0,1.0,500500
affelje01,Jeremy,Affeldt,2015-10-04,0.0,0.0,0.0,0.0,0.0,6000000
ahmedni01,Nick,Ahmed,2015-09-22,95.0,29.0,1.0,421.0,3.0,508500
alberma01,Matt,Albers,2015-10-02,0.0,0.0,0.0,0.0,0.0,1750000
albural01,Al,Alburquerque,2015-09-29,0.0,0.0,0.0,0.0,0.0,1725000
alcanar01,Arismendy,Alcantara,2015-04-19,2.0,5.0,0.0,26.0,0.0,510000
allenco01,Cody,Allen,2015-10-04,0.0,0.0,0.0,0.0,0.0,547100
alonsyo01,Yonder,Alonso,2015-09-01,100.0,42.0,3.0,354.0,3.0,1650000
altuvjo01,Jose,Altuve,2015-10-04,200.0,33.0,9.0,638.0,6.0,2500000
alvarhe01,Henderson,Alvarez,2015-05-22,2.0,0.0,0.0,6.0,0.0,4000000
alvarjo02,Jose,Alvarez,2015-10-03,0.0,0.0,0.0,0.0,0.0,509500
alvarpe01,Pedro,Alvarez,2015-10-04,106.0,48.0,2.0,437.0,4.0,5750000
alvarrj01,R. J.,Alvarez,2015-09-29,0.0,0.0,0.0,0.0,0.0,507500
amarial01,Alexi,Amarista,2015-10-04,66.0,24.0,1.0,324.0,5.0,1150000
anderbr04,Brett,Anderson,2015-10-01,4.0,5.0,0.0,47.0,0.0,10000000
anderch01,Chase,Anderson,2015-09-30,5.0,1.0,0.0,48.0,0.0,512500
andrima01,Matt,Andriese,2015-10-04,0.0,0.0,0.0,1.0,0.0,507500
andruel01,Elvis,Andrus,2015-10-04,154.0,46.0,2.0,596.0,9.0,15000000
aokino01,Nori,Aoki,2015-09-03,102.0,30.0,6.0,355.0,0.0,4000000
archech01,Chris,Archer,2015-10-03,0.0,0.0,0.0,5.0,0.0,1166667
arciaos01,Oswaldo,Arcia,2015-05-03,16.0,4.0,2.0,58.0,1.0,532500
arenano01,Nolan,Arenado,2015-10-04,177.0,34.0,4.0,616.0,11.0,512500
arencjp01,J. P.,Arencibia,2015-10-01,36.0,10.0,7.0,203.0,2.0,1800000
...,...,...,...,...,...,...,...,...,...
werthja01,Jayson,Werth,2015-10-04,73.0,38.0,3.0,331.0,6.0,21000000
wielajo01,Joe,Wieland,2015-09-09,0.0,0.0,0.0,1.0,0.0,590000
wietema01,Matt,Wieters,2015-10-04,69.0,21.0,0.0,258.0,3.0,8300000
wilheto01,Tom,Wilhelmsen,2015-10-04,0.0,0.0,0.0,0.0,0.0,1400000
willije02,Jerome,Williams,2015-10-01,1.0,0.0,0.0,4.0,0.0,820000
wilsobo02,Bobby,Wilson,2015-09-27,8.0,4.0,0.0,55.0,0.0,700000
wilsocj01,C. J.,Wilson,2015-07-28,2.0,0.0,0.0,6.0,0.0,18000000
wilsojo03,Josh,Wilson,2015-10-04,1.0,5.0,1.0,19.0,0.0,420000
wilsoju10,Justin,Wilson,2015-10-04,0.0,0.0,0.0,0.0,0.0,556000
wolfra02,Randy,Wolf,2015-10-04,10.0,0.0,1.0,61.0,0.0,9500000
wongko01,Kolten,Wong,2015-10-04,146.0,36.0,15.0,557.0,5.0,520000
woodal02,Alex,Wood,2015-10-02,5.0,3.0,0.0,33.0,0.0,520000
woodtr01,Travis,Wood,2015-10-04,3.0,2.0,0.0,30.0,0.0,5686000
wootero01,Rob,Wooten,2015-05-07,0.0,0.0,0.0,1.0,0.0,509500
worleva01,Vance,Worley,2015-09-30,3.0,0.0,0.0,17.0,0.0,2450000
wrighda03,David,Wright,2015-10-04,144.0,42.0,4.0,535.0,5.0,20000000
wrighst01,Steven,Wright,2015-08-11,0.0,0.0,0.0,1.0,0.0,510500
wrighwe01,Wesley,Wright,2015-10-04,0.0,0.0,0.0,0.0,0.0,1425000
yateski01,Kirby,Yates,2015-10-02,0.0,0.0,0.0,0.0,0.0,512800
yelicch01,Christian,Yelich,2015-10-04,143.0,47.0,2.0,476.0,0.0,570000
youngch03,Chris,Young,2015-10-02,0.0,1.0,0.0,5.0,0.0,6375000
youngch04,Chris,Young,2015-10-03,67.0,36.0,2.0,335.0,2.0,8700000
youngde03,Delmon,Young,2015-06-29,153.0,20.0,7.0,574.0,7.0,6750000
younger03,Eric,Young,2015-10-01,64.0,24.0,5.0,280.0,2.0,1850000
zieglbr01,Brad,Ziegler,2015-10-04,0.0,0.0,0.0,0.0,0.0,5000000
zimmejo02,Jordan,Zimmermann,2015-09-30,10.0,0.0,0.0,63.0,0.0,16500000
zimmery01,Ryan,Zimmerman,2015-09-07,156.0,60.0,2.0,568.0,3.0,14100000
zitoba01,Barry,Zito,2015-09-30,5.0,0.0,0.0,34.0,0.0,20000000
zobribe01,Ben,Zobrist,2015-10-04,63.0,33.0,0.0,235.0,3.0,7500000
zuninmi01,Mike,Zunino,2015-08-27,61.0,21.0,5.0,350.0,2.0,523500

In [466]:
living_master.head()

          nameFirst nameLast   finalGame
playerID
aardsda01     David  Aardsma  2015-08-23
aaronha01      Hank    Aaron  1976-10-03
aaronto01    Tommie    Aaron  1971-09-26
aasedo01        Don     Aase  1990-10-03
abadan01       Andy     Abad  2006-04-13

In [467]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [468]:
batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
5,armstbo01,1871,1,FW1,NaN,12,49.0,9.0,11.0,2.0,...,5.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
6,barkeal01,1871,1,RC1,NaN,1,4.0,0.0,1.0,0.0,...,2.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
7,barnero01,1871,1,BS1,NaN,31,157.0,66.0,63.0,10.0,...,34.0,11.0,6.0,13.0,1.0,NaN,NaN,NaN,NaN,NaN
8,barrebi01,1871,1,FW1,NaN,1,5.0,1.0,1.0,1.0,...,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,barrofr01,1871,1,BS1,NaN,18,86.0,13.0,13.0,2.0,...,11.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
10,bassjo01,1871,1,CL1,NaN,22,89.0,18.0,27.0,1.0,...,18.0,0.0,1.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN
11,battijo01,1871,1,CL1,NaN,1,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
12,bealsto01,1871,1,WS3,NaN,10,36.0,6.0,7.0,0.0,...,1.0,2.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN
13,beaveed01,1871,1,TRO,NaN,3,15.0,7.0,6.0,0.0,...,5.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
14,bechtge01,1871,1,PH1,NaN,20,94.0,24.0,33.0,9.0,...,21.0,4.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN
15,bellast01,1871,1,TRO,NaN,29,128.0,26.0,32.0,3.0,...,23.0,4.0,4.0,9.0,2.0,NaN,NaN,NaN,NaN,NaN
16,berkena01,1871,1,PH1,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN
17,berryto01,1871,1,PH1,NaN,1,4.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
18,berthha01,1871,1,WS3,NaN,17,73.0,17.0,17.0,1.0,...,8.0,3.0,1.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
19,biermch01,1871,1,FW1,NaN,1,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN
20,birdge01,1871,1,RC1,NaN,25,106.0,19.0,28.0,2.0,...,13.0,1.0,0.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN
21,birdsda01,1871,1,BS1,NaN,29,152.0,51.0,46.0,3.0,...,24.0,6.0,0.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN
22,brainas01,1871,1,WS3,NaN,30,134.0,24.0,30.0,4.0,...,21.0,4.0,0.0,7.0,2.0,NaN,NaN,NaN,NaN,NaN
23,brannmi01,1871,1,CH1,NaN,3,14.0,2.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
24,burrohe01,1871,1,WS3,NaN,12,63.0,11.0,15.0,2.0,...,14.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
25,careyto01,1871,1,FW1,NaN,19,87.0,16.0,20.0,2.0,...,10.0,5.0,0.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN
26,carleji01,1871,1,CL1,NaN,29,127.0,31.0,32.0,8.0,...,18.0,2.0,1.0,8.0,3.0,NaN,NaN,NaN,NaN,NaN
27,conefr01,1871,1,BS1,NaN,19,77.0,17.0,20.0,3.0,...,16.0,12.0,1.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN
28,connone01,1871,1,TRO,NaN,7,33.0,6.0,7.0,0.0,...,2.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
29,cravebi01,1871,1,TRO,NaN,27,118.0,26.0,38.0,8.0,...,26.0,6.0,3.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101302,wislema01,2015,1,ATL,NL,21,29.0,0.0,4.0,0.0,...,1.0,0.0,0.0,2.0,6.0,0.0,0.0,5.0,0.0,0.0
101303,wojcias01,2015,1,HOU,AL,5,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101304,wolfra02,2015,1,DET,AL,8,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101305,wongko01,2015,1,SLN,NL,150,557.0,71.0,146.0,28.0,...,61.0,15.0,8.0,36.0,95.0,2.0,15.0,0.0,5.0,10.0
101306,woodal02,2015,1,ATL,NL,20,33.0,1.0,5.0,1.0,...,4.0,0.0,0.0,3.0,21.0,0.0,0.0,5.0,0.0,1.0
101307,woodal02,2015,2,LAN,NL,12,22.0,1.0,4.0,1.0,...,0.0,0.0,0.0,1.0,13.0,0.0,0.0,3.0,0.0,1.0
101308,woodtr01,2015,1,CHN,NL,60,30.0,0.0,3.0,0.0,...,2.0,0.0,0.0,2.0,16.0,0.0,0.0,0.0,0.0,0.0
101309,wootero01,2015,1,MIL,NL,4,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101310,worleva01,2015,1,PIT,NL,24,17.0,1.0,3.0,1.0,...,0.0,0.0,0.0,0.0,6.0,0.0,0.0,1.0,0.0,0.0
101311,wrighda03,2015,1,NYN,NL,38,152.0,24.0,44.0,7.0,...,17.0,2.0,1.0,22.0,36.0,0.0,0.0,0.0,0.0,4.0
101312,wrighmi01,2015,1,BAL,AL,12,2.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
101313,wrighst01,2015,1,BOS,AL,16,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
101314,wrighwe01,2015,1,BAL,AL,2,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101315,wrighwe01,2015,2,LAA,AL,9,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101316,yateski01,2015,1,TBA,AL,20,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101317,yelicch01,2015,1,MIA,NL,126,476.0,63.0,143.0,30.0,...,44.0,16.0,5.0,47.0,101.0,2.0,2.0,0.0,0.0,13.0
101318,ynoara01,2015,1,COL,NL,72,127.0,14.0,33.0,8.0,...,9.0,1.0,0.0,3.0,28.0,0.0,0.0,1.0,0.0,2.0
101319,youngch03,2015,1,KCA,AL,34,4.0,0.0,2.0,0.0,...,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
101320,youngch04,2015,1,NYA,AL,140,318.0,53.0,80.0,20.0,...,42.0,3.0,1.0,30.0,73.0,2.0,3.0,3.0,2.0,6.0
101321,youngde03,2015,1,BAL,AL,52,174.0,20.0,47.0,6.0,...,16.0,0.0,0.0,4.0,29.0,0.0,1.0,0.0,1.0,8.0
101322,younger03,2015,1,ATL,NL,35,77.0,7.0,13.0,4.0,...,5.0,3.0,0.0,6.0,17.0,1.0,0.0,2.0,0.0,1.0
101323,younger03,2015,2,NYN,NL,18,8.0,9.0,0.0,0.0,...,0.0,3.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
101324,zieglbr01,2015,1,ARI,NL,66,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101325,zimmejo02,2015,1,WAS,NL,33,63.0,4.0,10.0,1.0,...,3.0,0.0,0.0,0.0,18.0,0.0,0.0,6.0,0.0,0.0
101326,zimmery01,2015,1,WAS,NL,95,346.0,43.0,86.0,25.0,...,73.0,1.0,0.0,33.0,79.0,0.0,1.0,0.0,10.0,13.0
101327,zitoba01,2015,1,OAK,AL,3,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101328,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,33.0,1.0,1.0,33.0,26.0,2.0,0.0,0.0,3.0,5.0
101329,zobribe01,2015,2,KCA,AL,59,232.0,37.0,66.0,16.0,...,23.0,2.0,3.0,29.0,30.0,1.0,1.0,0.0,2.0,3.0
101330,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,28.0,0.0,1.0,21.0,132.0,0.0,5.0,8.0,2.0,6.0
101331,zychto01,2015,1,SEA,AL,13,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [469]:
salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [470]:
master_and_batting = pd.merge(batting, master, on=batting.index)

IndexError: indices are out-of-bounds

In [ ]:
master_and_batting

In [ ]:
def get_obp(H, AB, BB, SF, HBP=0):
    if HBP.isna:
        HBP=0
    return (H+BB+HBP/AB+BB+HBP+SF)

In [ ]:
batting['OBP'] = get_obp(batting['H'], batting['AB'], batting['BB'], batting['SF'], batting['HBP'])