In [321]:
%matplotlib inline
import re
import pandas as pd
import matplotlib as plt
import numpy as np

In [322]:
master = pd.read_csv("data/Master.csv", sep=",")

In [323]:
# master = master[["playerID", "nameFirst", "nameLast", "finalGame"]]
# master.index = master.pop("playerID")
# master = master[["nameFirst", "nameLast", "finalGame"]]

In [324]:
master.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [325]:
batting = pd.read_csv("data/Batting.csv", sep=",")

In [326]:
# batting = batting[["playerID", "H", "BB", "HBP", "AB", "SF"]]
# batting.index = batting.pop('playerID')

In [327]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [328]:
salaries = pd.read_csv("data/Salaries.csv", sep=",")

In [329]:
# salaries = salaries[["salary", "playerID"]]
# salaries.index = salaries.pop("playerID")

In [330]:
salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [386]:
master_list = pd.merge(batting, master)
master_list = pd.merge(master_list, salaries)
master_list

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,salary
19397,aardsda01,2004,1,SFN,NL,11,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,300000
19398,aardsda01,2007,1,CHA,AL,25,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,387500
19399,aardsda01,2008,1,BOS,AL,47,1.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,403250
19400,aardsda01,2009,1,SEA,AL,73,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,419000
19402,aardsda01,2012,1,NYA,AL,1,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,500000
19401,aardsda01,2010,1,SEA,AL,53,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2750000
761,aasedo01,1989,1,NYN,NL,49,5.0,0.0,0.0,0.0,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,400000
758,aasedo01,1986,1,BAL,AL,66,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,600000
759,aasedo01,1987,1,BAL,AL,7,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,625000
760,aasedo01,1988,1,BAL,AL,35,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,675000
17356,abadan01,2006,1,CIN,NL,5,3.0,0.0,0.0,0.0,...,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01,327000
23162,abadfe01,2011,1,HOU,NL,29,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,418000
23163,abadfe01,2012,1,HOU,NL,37,7.0,0.0,1.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,485000
23164,abadfe01,2014,1,OAK,AL,69,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,525900
23165,abadfe01,2015,1,OAK,AL,62,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,1087500
14083,abbotje01,1998,1,CHA,AL,89,244.0,33.0,68.0,14.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,175000
14084,abbotje01,1999,1,CHA,AL,17,57.0,5.0,9.0,0.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,255000
14085,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,255000
14086,abbotje01,2001,1,FLO,NL,28,42.0,5.0,11.0,3.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,300000
6864,abbotji01,1989,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,68000
6865,abbotji01,1990,1,CAL,AL,33,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,185000
6866,abbotji01,1991,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,357500
6872,abbotji01,1999,1,MIL,NL,20,21.0,0.0,2.0,0.0,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,400000
6867,abbotji01,1992,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,1850000
6871,abbotji01,1996,1,CAL,AL,27,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2200000
6868,abbotji01,1993,1,NYA,AL,32,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2350000
6869,abbotji01,1994,1,NYA,AL,24,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2775000
6870,abbotji01,1995,1,CHA,AL,17,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2775000
10401,abbotku01,1993,1,OAK,AL,20,61.0,11.0,15.0,1.0,...,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01,109000
10402,abbotku01,1994,1,FLO,NL,101,345.0,41.0,86.0,17.0,...,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01,109000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17347,zitoba01,2006,1,OAK,AL,34,3.0,0.0,0.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,7900000
17348,zitoba01,2007,1,SFN,NL,34,62.0,2.0,7.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,10000000
17349,zitoba01,2008,1,SFN,NL,32,51.0,1.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,14500000
17350,zitoba01,2009,1,SFN,NL,34,51.0,2.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17351,zitoba01,2010,1,SFN,NL,34,51.0,1.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17352,zitoba01,2011,1,SFN,NL,13,13.0,0.0,0.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17353,zitoba01,2012,1,SFN,NL,32,53.0,3.0,4.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,19000000
17354,zitoba01,2013,1,SFN,NL,30,34.0,3.0,5.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,20000000
21539,zobribe01,2007,1,TBA,AL,31,97.0,8.0,15.0,2.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,383400
21540,zobribe01,2008,1,TBA,AL,62,198.0,32.0,50.0,10.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,395800
21541,zobribe01,2009,1,TBA,AL,152,501.0,91.0,149.0,28.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,415900
21542,zobribe01,2010,1,TBA,AL,151,541.0,77.0,129.0,28.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,438100
21543,zobribe01,2011,1,TBA,AL,156,588.0,99.0,158.0,46.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,4687300
21544,zobribe01,2012,1,TBA,AL,157,560.0,88.0,151.0,39.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,4687300
21545,zobribe01,2013,1,TBA,AL,157,612.0,77.0,168.0,36.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,5687300
21546,zobribe01,2014,1,TBA,AL,146,570.0,83.0,155.0,34.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,7000000
21547,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,7500000
9518,zoskyed01,1992,1,TOR,AL,8,7.0,1.0,2.0,0.0,...,Edward James,175.0,72.0,R,R,1991-09-02,2000-10-01,zoske001,zoskyed01,109000
14082,zuberjo01,1996,1,PHI,NL,30,91.0,7.0,23.0,4.0,...,Jon Edward,190.0,73.0,L,L,1996-04-19,1998-09-27,zubej001,zuberjo01,109000
17355,zuletju01,2001,1,CHN,NL,49,106.0,11.0,23.0,3.0,...,Julio Ernesto,230.0,78.0,R,R,2000-04-06,2001-06-25,zulej001,zuletju01,200000
21548,zumayjo01,2006,1,DET,AL,62,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,327000
21549,zumayjo01,2007,1,DET,AL,28,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,410000
21550,zumayjo01,2008,1,DET,AL,21,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,420000
21551,zumayjo01,2009,1,DET,AL,29,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,735000
21552,zumayjo01,2010,1,DET,AL,31,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,915000
24528,zuninmi01,2014,1,SEA,AL,131,438.0,51.0,87.0,20.0,...,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2015-08-27,zunim001,zuninmi01,504100
24529,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2015-08-27,zunim001,zuninmi01,523500
9519,zupcibo01,1991,1,BOS,AL,18,25.0,3.0,4.0,0.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,100000
9520,zupcibo01,1992,1,BOS,AL,124,392.0,46.0,108.0,19.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,109000
9521,zupcibo01,1993,1,BOS,AL,141,286.0,40.0,69.0,24.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,222000

In [387]:
master_list.sort_values(by=['playerID', 'salary'])

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,salary
19397,aardsda01,2004,1,SFN,NL,11,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,300000
19398,aardsda01,2007,1,CHA,AL,25,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,387500
19399,aardsda01,2008,1,BOS,AL,47,1.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,403250
19400,aardsda01,2009,1,SEA,AL,73,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,419000
19402,aardsda01,2012,1,NYA,AL,1,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,500000
19401,aardsda01,2010,1,SEA,AL,53,0.0,0.0,0.0,0.0,...,David Allan,220.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01,2750000
761,aasedo01,1989,1,NYN,NL,49,5.0,0.0,0.0,0.0,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,400000
758,aasedo01,1986,1,BAL,AL,66,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,600000
759,aasedo01,1987,1,BAL,AL,7,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,625000
760,aasedo01,1988,1,BAL,AL,35,NaN,NaN,NaN,NaN,...,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01,675000
17356,abadan01,2006,1,CIN,NL,5,3.0,0.0,0.0,0.0,...,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01,327000
23162,abadfe01,2011,1,HOU,NL,29,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,418000
23163,abadfe01,2012,1,HOU,NL,37,7.0,0.0,1.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,485000
23164,abadfe01,2014,1,OAK,AL,69,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,525900
23165,abadfe01,2015,1,OAK,AL,62,0.0,0.0,0.0,0.0,...,Fernando Antonio,220.0,73.0,L,L,2010-07-28,2015-10-03,abadf001,abadfe01,1087500
14083,abbotje01,1998,1,CHA,AL,89,244.0,33.0,68.0,14.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,175000
14084,abbotje01,1999,1,CHA,AL,17,57.0,5.0,9.0,0.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,255000
14085,abbotje01,2000,1,CHA,AL,80,215.0,31.0,59.0,15.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,255000
14086,abbotje01,2001,1,FLO,NL,28,42.0,5.0,11.0,3.0,...,Jeffrey William,190.0,74.0,R,L,1997-06-10,2001-09-29,abboj002,abbotje01,300000
6864,abbotji01,1989,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,68000
6865,abbotji01,1990,1,CAL,AL,33,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,185000
6866,abbotji01,1991,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,357500
6872,abbotji01,1999,1,MIL,NL,20,21.0,0.0,2.0,0.0,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,400000
6867,abbotji01,1992,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,1850000
6871,abbotji01,1996,1,CAL,AL,27,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2200000
6868,abbotji01,1993,1,NYA,AL,32,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2350000
6869,abbotji01,1994,1,NYA,AL,24,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2775000
6870,abbotji01,1995,1,CHA,AL,17,NaN,NaN,NaN,NaN,...,James Anthony,200.0,75.0,L,L,1989-04-08,1999-07-21,abboj001,abbotji01,2775000
10401,abbotku01,1993,1,OAK,AL,20,61.0,11.0,15.0,1.0,...,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01,109000
10402,abbotku01,1994,1,FLO,NL,101,345.0,41.0,86.0,17.0,...,Kurt Thomas,180.0,71.0,R,R,1993-09-07,2001-04-13,abbok002,abbotku01,109000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17347,zitoba01,2006,1,OAK,AL,34,3.0,0.0,0.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,7900000
17348,zitoba01,2007,1,SFN,NL,34,62.0,2.0,7.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,10000000
17349,zitoba01,2008,1,SFN,NL,32,51.0,1.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,14500000
17350,zitoba01,2009,1,SFN,NL,34,51.0,2.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17351,zitoba01,2010,1,SFN,NL,34,51.0,1.0,6.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17352,zitoba01,2011,1,SFN,NL,13,13.0,0.0,0.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,18500000
17353,zitoba01,2012,1,SFN,NL,32,53.0,3.0,4.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,19000000
17354,zitoba01,2013,1,SFN,NL,30,34.0,3.0,5.0,0.0,...,Barry William,205.0,74.0,L,L,2000-07-22,2015-09-30,zitob001,zitoba01,20000000
21539,zobribe01,2007,1,TBA,AL,31,97.0,8.0,15.0,2.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,383400
21540,zobribe01,2008,1,TBA,AL,62,198.0,32.0,50.0,10.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,395800
21541,zobribe01,2009,1,TBA,AL,152,501.0,91.0,149.0,28.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,415900
21542,zobribe01,2010,1,TBA,AL,151,541.0,77.0,129.0,28.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,438100
21543,zobribe01,2011,1,TBA,AL,156,588.0,99.0,158.0,46.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,4687300
21544,zobribe01,2012,1,TBA,AL,157,560.0,88.0,151.0,39.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,4687300
21545,zobribe01,2013,1,TBA,AL,157,612.0,77.0,168.0,36.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,5687300
21546,zobribe01,2014,1,TBA,AL,146,570.0,83.0,155.0,34.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,7000000
21547,zobribe01,2015,1,OAK,AL,67,235.0,39.0,63.0,20.0,...,Benjamin Thomas,210.0,75.0,B,R,2006-08-01,2015-10-04,zobrb001,zobribe01,7500000
9518,zoskyed01,1992,1,TOR,AL,8,7.0,1.0,2.0,0.0,...,Edward James,175.0,72.0,R,R,1991-09-02,2000-10-01,zoske001,zoskyed01,109000
14082,zuberjo01,1996,1,PHI,NL,30,91.0,7.0,23.0,4.0,...,Jon Edward,190.0,73.0,L,L,1996-04-19,1998-09-27,zubej001,zuberjo01,109000
17355,zuletju01,2001,1,CHN,NL,49,106.0,11.0,23.0,3.0,...,Julio Ernesto,230.0,78.0,R,R,2000-04-06,2001-06-25,zulej001,zuletju01,200000
21548,zumayjo01,2006,1,DET,AL,62,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,327000
21549,zumayjo01,2007,1,DET,AL,28,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,410000
21550,zumayjo01,2008,1,DET,AL,21,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,420000
21551,zumayjo01,2009,1,DET,AL,29,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,735000
21552,zumayjo01,2010,1,DET,AL,31,0.0,0.0,0.0,0.0,...,Joel Martin,215.0,75.0,R,R,2006-04-03,2010-06-28,zumaj001,zumayjo01,915000
24528,zuninmi01,2014,1,SEA,AL,131,438.0,51.0,87.0,20.0,...,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2015-08-27,zunim001,zuninmi01,504100
24529,zuninmi01,2015,1,SEA,AL,112,350.0,28.0,61.0,11.0,...,Michael Accorsi,220.0,74.0,R,R,2013-06-12,2015-08-27,zunim001,zuninmi01,523500
9519,zupcibo01,1991,1,BOS,AL,18,25.0,3.0,4.0,0.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,100000
9520,zupcibo01,1992,1,BOS,AL,124,392.0,46.0,108.0,19.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,109000
9521,zupcibo01,1993,1,BOS,AL,141,286.0,40.0,69.0,24.0,...,Robert,220.0,76.0,R,R,1991-09-07,1994-08-04,zupcb001,zupcibo01,222000

In [393]:
master_list = master_list.groupby('playerID', group_keys=False).apply(lambda x: x.ix[x.salary.idxmax()])

In [403]:
master_list = master_list[["nameFirst", "nameLast", "finalGame", "H", "BB", "HBP", "AB", "SF", "salary"]]

In [411]:
master_list.head()

          nameFirst nameLast   finalGame     H   BB  HBP    AB   SF   salary
playerID
aardsda01     David  Aardsma  2015-08-23   0.0  0.0  0.0   0.0  0.0  2750000
aasedo01        Don     Aase  1990-10-03   NaN  NaN  NaN   NaN  NaN   675000
abadan01       Andy     Abad  2006-04-13   0.0  2.0  0.0   3.0  0.0   327000
abadfe01   Fernando     Abad  2015-10-03   0.0  0.0  0.0   0.0  0.0  1087500
abbotje01      Jeff   Abbott  2001-09-29  11.0  3.0  1.0  42.0  0.0   300000

In [421]:
date_time_finalGame = pd.to_datetime(master_list['finalGame'], format='%Y-%m-%d')

In [438]:
only_2015 = master_list[(pd.to_datetime(master_list['finalGame'], format='%Y-%m-%d').dt.year == 2015) | master_list['finalGame'].py.isnan()]

AttributeError: 'Series' object has no attribute 'isnan'

In [436]:
sorted = only_2015.sort_values('finalGame')

In [437]:
sorted

,nameFirst,nameLast,finalGame,H,BB,HBP,AB,SF,salary
playerID,,,,,,,,,
nathajo01,Joe,Nathan,2015-04-06,0.0,0.0,0.0,0.0,0.0,11250000
lairdge01,Gerald,Laird,2015-04-08,56.0,18.0,3.0,270.0,2.0,3950000
guerrja01,Javy,Guerra,2015-04-12,0.0,0.0,0.0,0.0,0.0,937500
kellydo01,Don,Kelly,2015-04-12,0.0,0.0,0.0,1.0,0.0,1250000
sanchto01,Tony,Sanchez,2015-04-12,3.0,1.0,0.0,8.0,0.0,518000
davieky01,Kyle,Davies,2015-04-12,0.0,0.0,0.0,1.0,0.0,3200000
peacobr01,Brad,Peacock,2015-04-14,0.0,0.0,0.0,0.0,0.0,515800
stammcr01,Craig,Stammen,2015-04-14,0.0,0.0,0.0,0.0,0.0,2250000
belivje01,Jeff,Beliveau,2015-04-15,0.0,0.0,0.0,0.0,0.0,513600
hynesco01,Colt,Hynes,2015-04-18,0.0,0.0,0.0,0.0,0.0,510800
balfogr01,Grant,Balfour,2015-04-18,0.0,0.0,0.0,0.0,0.0,4500000
blevije01,Jerry,Blevins,2015-04-19,0.0,0.0,0.0,0.0,0.0,1675000
drabeky01,Kyle,Drabek,2015-04-19,0.0,0.0,0.0,0.0,0.0,518200
alcanar01,Arismendy,Alcantara,2015-04-19,2.0,5.0,0.0,26.0,0.0,510000
baileho02,Homer,Bailey,2015-04-23,0.0,0.0,0.0,4.0,0.0,10000000
dominjo01,Jose,Dominguez,2015-04-24,0.0,0.0,0.0,1.0,0.0,501000
luetglu01,Lucas,Luetge,2015-04-25,0.0,0.0,0.0,0.0,0.0,495500
ottavad01,Adam,Ottavino,2015-04-25,0.0,0.0,0.0,0.0,0.0,1300000
mccarbr01,Brandon,McCarthy,2015-04-25,0.0,1.0,0.0,6.0,0.0,12500000
varvaan01,Anthony,Varvaro,2015-04-28,0.0,0.0,0.0,0.0,0.0,576500
montera01,Rafael,Montero,2015-04-28,0.0,0.0,0.0,2.0,0.0,511000
waldejo01,Jordan,Walden,2015-04-29,0.0,0.0,0.0,0.0,0.0,2675000
nievewi01,Wil,Nieves,2015-04-29,31.0,1.0,2.0,122.0,1.0,1125000
housetj01,T. J.,House,2015-04-30,0.0,0.0,0.0,0.0,0.0,511900
thielca01,Caleb,Thielbar,2015-04-30,0.0,0.0,0.0,0.0,0.0,510000
rossco01,Cody,Ross,2015-05-01,51.0,15.0,1.0,202.0,1.0,9500000
bakersc02,Scott,Baker,2015-05-02,0.0,0.0,0.0,3.0,0.0,5500000
morrobr01,Brandon,Morrow,2015-05-02,0.0,0.0,0.0,0.0,0.0,8000000
arciaos01,Oswaldo,Arcia,2015-05-03,16.0,4.0,2.0,58.0,1.0,532500
lamboan01,Andrew,Lambo,2015-05-03,1.0,2.0,0.0,25.0,0.0,515500
...,...,...,...,...,...,...,...,...,...
millebr02,Brad,Miller,2015-10-04,113.0,47.0,2.0,438.0,6.0,527600
millean01,Andrew,Miller,2015-10-04,0.0,0.0,0.0,0.0,0.0,9000000
mercejo03,Jordy,Mercer,2015-10-04,96.0,27.0,2.0,394.0,3.0,538000
melanma01,Mark,Melancon,2015-10-04,0.0,0.0,0.0,0.0,0.0,5400000
brachbr01,Brad,Brach,2015-10-04,0.0,0.0,0.0,0.0,0.0,523000
bradlja02,Jackie,Bradley,2015-10-04,55.0,27.0,3.0,221.0,3.0,528000
colonch01,Christian,Colon,2015-10-04,31.0,11.0,0.0,107.0,0.0,509525
mcgehca01,Casey,McGehee,2015-10-04,27.0,11.0,0.0,127.0,0.0,4800000
mcfartj01,T. J.,McFarland,2015-10-04,0.0,0.0,0.0,0.0,0.0,519000
mccutan01,Andrew,McCutchen,2015-10-04,165.0,98.0,12.0,566.0,9.0,10000000
mccanja02,James,McCann,2015-10-04,106.0,16.0,3.0,401.0,1.0,507500
mccanbr01,Brian,McCann,2015-10-04,115.0,32.0,7.0,495.0,4.0,17000000
mcallza01,Zach,McAllister,2015-10-04,0.0,0.0,0.0,0.0,0.0,520400
montemi01,Miguel,Montero,2015-10-04,86.0,49.0,4.0,347.0,3.0,12000000
maybica01,Cameron,Maybin,2015-10-04,135.0,45.0,1.0,505.0,3.0,7000000
brothre01,Rex,Brothers,2015-10-04,0.0,0.0,0.0,0.0,0.0,1400000
matthry01,Ryan,Mattheus,2015-10-04,0.0,0.0,0.0,0.0,0.0,520000
mathije01,Jeff,Mathis,2015-10-04,43.0,15.0,2.0,247.0,3.0,1700000
martiru01,Russell,Martin,2015-10-04,110.0,59.0,15.0,379.0,5.0,8500000
martimi02,Michael,Martinez,2015-10-04,20.0,5.0,0.0,115.0,0.0,486500
martijd02,J. D.,Martinez,2015-10-04,168.0,53.0,5.0,596.0,3.0,3000000
martest01,Starling,Marte,2015-10-04,166.0,27.0,19.0,579.0,5.0,1333333
bruceja01,Jay,Bruce,2015-10-04,131.0,58.0,2.0,580.0,9.0,12000000
buchada01,David,Buchanan,2015-10-04,4.0,2.0,0.0,20.0,0.0,512500
markani01,Nick,Markakis,2015-10-04,172.0,55.0,3.0,634.0,8.0,15350000
marisja01,Jake,Marisnick,2015-10-04,80.0,18.0,5.0,339.0,4.0,511200
buehrma01,Mark,Buehrle,2015-10-04,1.0,1.0,0.0,7.0,0.0,20000000
manshje01,Jeff,Manship,2015-10-04,0.0,0.0,0.0,0.0,0.0,419000
brittza01,Zach,Britton,2015-10-04,0.0,0.0,0.0,0.0,0.0,3200000
brantro01,Rob,Brantly,2015-10-04,47.0,15.0,2.0,223.0,3.0,490000

In [303]:
living_master.head()

          nameFirst nameLast   finalGame
playerID
aardsda01     David  Aardsma  2015-08-23
aaronha01      Hank    Aaron  1976-10-03
aaronto01    Tommie    Aaron  1971-09-26
aasedo01        Don     Aase  1990-10-03
abadan01       Andy     Abad  2006-04-13

In [218]:
batting.head()

              H   BB  HBP     AB  SF
playerID
abercda01   0.0  0.0  NaN    4.0 NaN
addybo01   32.0  4.0  NaN  118.0 NaN
allisar01  40.0  2.0  NaN  137.0 NaN
allisdo01  44.0  0.0  NaN  133.0 NaN
ansonca01  39.0  2.0  NaN  120.0 NaN

In [219]:
batting

               H    BB   HBP     AB    SF
playerID
abercda01    0.0   0.0   NaN    4.0   NaN
addybo01    32.0   4.0   NaN  118.0   NaN
allisar01   40.0   2.0   NaN  137.0   NaN
allisdo01   44.0   0.0   NaN  133.0   NaN
ansonca01   39.0   2.0   NaN  120.0   NaN
armstbo01   11.0   0.0   NaN   49.0   NaN
barkeal01    1.0   1.0   NaN    4.0   NaN
barnero01   63.0  13.0   NaN  157.0   NaN
barrebi01    1.0   0.0   NaN    5.0   NaN
barrofr01   13.0   0.0   NaN   86.0   NaN
bassjo01    27.0   3.0   NaN   89.0   NaN
battijo01    0.0   1.0   NaN    3.0   NaN
bealsto01    7.0   2.0   NaN   36.0   NaN
beaveed01    6.0   0.0   NaN   15.0   NaN
bechtge01   33.0   2.0   NaN   94.0   NaN
bellast01   32.0   9.0   NaN  128.0   NaN
berkena01    0.0   0.0   NaN    4.0   NaN
berryto01    1.0   0.0   NaN    4.0   NaN
berthha01   17.0   4.0   NaN   73.0   NaN
biermch01    0.0   1.0   NaN    2.0   NaN
birdge01    28.0   3.0   NaN  106.0   NaN
birdsda01   46.0   4.0   NaN  152.0   NaN
brainas01   30.0   7.0   NaN  134.0   NaN
brannmi01    1.0   0.0   NaN   14.0   NaN
burrohe01   15.0   1.0   NaN   63.0   NaN
careyto01   20.0   2.0   NaN   87.0   NaN
carleji01   32.0   8.0   NaN  127.0   NaN
conefr01    20.0   8.0   NaN   77.0   NaN
connone01    7.0   0.0   NaN   33.0   NaN
cravebi01   38.0   3.0   NaN  118.0   NaN
...          ...   ...   ...    ...   ...
wislema01    4.0   2.0   0.0   29.0   0.0
wojcias01    0.0   0.0   0.0    0.0   0.0
wolfra02     0.0   0.0   0.0    0.0   0.0
wongko01   146.0  36.0  15.0  557.0   5.0
woodal02     5.0   3.0   0.0   33.0   0.0
woodal02     4.0   1.0   0.0   22.0   0.0
woodtr01     3.0   2.0   0.0   30.0   0.0
wootero01    0.0   0.0   0.0    1.0   0.0
worleva01    3.0   0.0   0.0   17.0   0.0
wrighda03   44.0  22.0   0.0  152.0   0.0
wrighmi01    1.0   0.0   0.0    2.0   0.0
wrighst01    0.0   0.0   0.0    1.0   0.0
wrighwe01    0.0   0.0   0.0    0.0   0.0
wrighwe01    0.0   0.0   0.0    0.0   0.0
yateski01    0.0   0.0   0.0    0.0   0.0
yelicch01  143.0  47.0   2.0  476.0   0.0
ynoara01    33.0   3.0   0.0  127.0   0.0
youngch03    2.0   0.0   0.0    4.0   0.0
youngch04   80.0  30.0   3.0  318.0   2.0
youngde03   47.0   4.0   1.0  174.0   1.0
younger03   13.0   6.0   0.0   77.0   0.0
younger03    0.0   0.0   1.0    8.0   0.0
zieglbr01    0.0   0.0   0.0    0.0   0.0
zimmejo02   10.0   0.0   0.0   63.0   0.0
zimmery01   86.0  33.0   1.0  346.0  10.0
zitoba01     0.0   0.0   0.0    0.0   0.0
zobribe01   63.0  33.0   0.0  235.0   3.0
zobribe01   66.0  29.0   1.0  232.0   2.0
zuninmi01   61.0  21.0   5.0  350.0   2.0
zychto01     0.0   0.0   0.0    0.0   0.0

[101332 rows x 5 columns]

In [207]:
salaries.head()

           salary
playerID
barkele01  870000
bedrost01  550000
benedbr01  545000
campri01   633333
ceronri01  625000

In [221]:
master_and_batting = pd.merge(batting, master, on=batting.index)

KeyError: "Index(['abercda01', 'addybo01', 'allisar01', 'allisdo01', 'ansonca01',\n       'armstbo01', 'barkeal01', 'barnero01', 'barrebi01', 'barrofr01',\n       ...\n       'younger03', 'younger03', 'zieglbr01', 'zimmejo02', 'zimmery01',\n       'zitoba01', 'zobribe01', 'zobribe01', 'zuninmi01', 'zychto01'],\n      dtype='object', name='playerID', length=101332) not in index"

ValueError: Shape of passed values is (8, 101519), indices imply (8, 18846)

In [213]:
master_and_batting

              AB    BB     H  HBP  SF   finalGame nameFirst    nameLast
playerID
abercda01    4.0   0.0   0.0  NaN NaN         NaN       NaN         NaN
addybo01   118.0   4.0  32.0  NaN NaN         NaN       NaN         NaN
allisar01  137.0   2.0  40.0  NaN NaN         NaN       NaN         NaN
allisdo01  133.0   0.0  44.0  NaN NaN         NaN       NaN         NaN
ansonca01  120.0   2.0  39.0  NaN NaN         NaN       NaN         NaN
armstbo01   49.0   0.0  11.0  NaN NaN         NaN       NaN         NaN
barkeal01    4.0   1.0   1.0  NaN NaN         NaN       NaN         NaN
barnero01  157.0  13.0  63.0  NaN NaN         NaN       NaN         NaN
barrebi01    5.0   0.0   1.0  NaN NaN         NaN       NaN         NaN
barrofr01   86.0   0.0  13.0  NaN NaN         NaN       NaN         NaN
bassjo01    89.0   3.0  27.0  NaN NaN         NaN       NaN         NaN
battijo01    3.0   1.0   0.0  NaN NaN         NaN       NaN         NaN
bealsto01   36.0   2.0   7.0  NaN NaN         NaN       NaN         NaN
beaveed01   15.0   0.0   6.0  NaN NaN         NaN       NaN         NaN
bechtge01   94.0   2.0  33.0  NaN NaN         NaN       NaN         NaN
bellast01  128.0   9.0  32.0  NaN NaN         NaN       NaN         NaN
berkena01    4.0   0.0   0.0  NaN NaN         NaN       NaN         NaN
berryto01    4.0   0.0   1.0  NaN NaN         NaN       NaN         NaN
berthha01   73.0   4.0  17.0  NaN NaN         NaN       NaN         NaN
biermch01    2.0   1.0   0.0  NaN NaN         NaN       NaN         NaN
birdge01   106.0   3.0  28.0  NaN NaN         NaN       NaN         NaN
birdsda01  152.0   4.0  46.0  NaN NaN         NaN       NaN         NaN
brainas01  134.0   7.0  30.0  NaN NaN         NaN       NaN         NaN
brannmi01   14.0   0.0   1.0  NaN NaN         NaN       NaN         NaN
burrohe01   63.0   1.0  15.0  NaN NaN         NaN       NaN         NaN
careyto01   87.0   2.0  20.0  NaN NaN         NaN       NaN         NaN
carleji01  127.0   8.0  32.0  NaN NaN         NaN       NaN         NaN
conefr01    77.0   8.0  20.0  NaN NaN         NaN       NaN         NaN
connone01   33.0   0.0   7.0  NaN NaN         NaN       NaN         NaN
cravebi01  118.0   3.0  38.0  NaN NaN         NaN       NaN         NaN
...          ...   ...   ...  ...  ..         ...       ...         ...
zimmejo02    NaN   NaN   NaN  NaN NaN  2015-09-30    Jordan  Zimmermann
zimmero01    NaN   NaN   NaN  NaN NaN  1945-09-30       Roy   Zimmerman
zimmery01    NaN   NaN   NaN  NaN NaN  2015-09-07      Ryan   Zimmerman
zinkch01     NaN   NaN   NaN  NaN NaN  2008-08-12   Charlie        Zink
zinkwa01     NaN   NaN   NaN  NaN NaN  1921-07-19    Walter        Zink
zinnfr01     NaN   NaN   NaN  NaN NaN  1888-05-03     Frank        Zinn
zinngu01     NaN   NaN   NaN  NaN NaN  1915-09-16       Guy        Zinn
zinnji01     NaN   NaN   NaN  NaN NaN  1929-08-25     Jimmy        Zinn
zinsebi01    NaN   NaN   NaN  NaN NaN  1944-08-26      Bill      Zinser
zinteal01    NaN   NaN   NaN  NaN NaN  2004-10-03      Alan      Zinter
zipfebu01    NaN   NaN   NaN  NaN NaN  1962-09-30       Bud      Zipfel
ziskri01     NaN   NaN   NaN  NaN NaN  1983-09-21    Richie        Zisk
zitoba01     NaN   NaN   NaN  NaN NaN  2015-09-30     Barry        Zito
zitzmbi01    NaN   NaN   NaN  NaN NaN  1929-09-25     Billy    Zitzmann
zmiched01    NaN   NaN   NaN  NaN NaN  1911-06-01        Ed       Zmich
zobribe01    NaN   NaN   NaN  NaN NaN  2015-10-04       Ben     Zobrist
zoccope01    NaN   NaN   NaN  NaN NaN  2003-09-28     Peter  Zoccolillo
zoldasa01    NaN   NaN   NaN  NaN NaN  1952-08-26       Sam      Zoldak
zoskyed01    NaN   NaN   NaN  NaN NaN  2000-10-01     Eddie       Zosky
zuberbi01    NaN   NaN   NaN  NaN NaN  1947-09-23      Bill       Zuber
zuberjo01    NaN   NaN   NaN  NaN NaN  1998-09-27       Jon       Zuber
zuletju01    NaN   NaN   NaN  NaN NaN  2001-06-25     Julio      Zuleta
zumayjo01    NaN   NaN   NaN  NaN NaN  2010-06-28      Joel      Zumaya
zuninmi01    NaN   NaN   NaN  NaN NaN  2015-08-27      Mike      Zunino
zupcibo01    NaN   NaN   NaN  NaN NaN  1994-08-04       Bob      Zupcic
zupofr01     NaN   NaN   NaN  NaN NaN  1961-05-09     Frank        Zupo
zuvelpa01    NaN   NaN   NaN  NaN NaN  1991-05-02      Paul     Zuvella
zuverge01    NaN   NaN   NaN  NaN NaN  1959-06-15    George    Zuverink
zwilldu01    NaN   NaN   NaN  NaN NaN  1916-07-12     Dutch    Zwilling
zychto01     NaN   NaN   NaN  NaN NaN  2015-10-03      Tony        Zych

[120178 rows x 8 columns]

In [ ]:
def get_obp(H, AB, BB, SF, HBP=0):
    if HBP.isna:
        HBP=0
    return (H+BB+HBP/AB+BB+HBP+SF)

In [ ]:
batting['OBP'] = get_obp(batting['H'], batting['AB'], batting['BB'], batting['SF'], batting['HBP'])